<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content="{{ eleventy.generator }}" />

<title>{{ basics.name }} - {{ basics.label }} in {{ basics.location.city }}, {{ basics.location.region }}</title>

<meta name="description" content="{{ pkg.description }}" />

<link rel="canonical" href="{{ page.url | htmlBaseUrl(pkg.author.url) }}" />

<link
  rel="stylesheet"
  href="{{ pkg.author.url }}/normcore/css/normcore.css"
/>
<link rel="stylesheet" href="/public/style.css" media="screen" />
<link rel="stylesheet" href="/public/print.css" media="print" />
