---
layout: base.njk
title: Resume
---

<div class="[ h-resume ] [ center stack ]">
  <h1 class="p-name">{{ pkg.author.name }}</h1>

  <h2>Experience</h2>

  {% for entry in collections.work %}
    {% set microformat = "p-experience" %}
    {% include "event.njk" %}
  {% endfor %}

  <h2>Education</h2>

  {% for entry in collections.education %}
    {% set microformat = "p-education" %}
    {% include "event.njk" %}
  {% endfor %}

  <h2>Projects</h2>

  {% for project in collections.projects %}
    <h3>{{ project.data.name }} at {{ project.data.instutition }}</h3>
    <p>{{ project.data.location }} ({{ project.data.startDate | date({ year: 'numeric', month: 'long' }) }}&ndash;{{ project.data.endDate | date({ year: 'numeric', month: 'long' }) }})</p>
    <ul>
      {% for highlight in project.data.highlights %}
        <li>{{ highlight  }}</li>
      {% endfor %}
    </ul>
  {% endfor %}

  <h2>Professional activity</h2>

  <ul>
    <li>Attended DrupalCon Portland 2013, Seattle 2019, Pittsburgh 2023, &amp; Drupal GovCon 2016&ndash;2019</li>
    {% for publication in collections.publications %}
      <li><em>{{ publication.data.name }}</em>: {{ publication.data.publisher }}, {{ publication.data.releaseDate | date({ year: 'numeric', month: 'long', day: 'numeric' }) }}.</li>
    {% endfor %}
  </ul>
</div>
