---
layout: base.njk
title: Resume
---

<div class="[ h-resume ] [ center stack ]">
  <h1 class="p-name">{{ pkg.author.name }}</h1>

  <h2>Experience</h2>

  {% for entry in collections.work %}
    <div class="[ p-experience h-event ] [ stack ]">
      <h3>
        <span class="p-name">{{ entry.data.position }}</span>
        (<time class="dt-start">{{ entry.data.startDate | date({ year: 'numeric', month: 'long' }) }}</time>
        &ndash;
        {% if entry.data.endDate %}
          <time class="dt-end">{{ entry.data.endDate | date({ year: 'numeric', month: 'long' }) }}</time>)
        {% else %}
          <span>Present</span>
        {%- endif %})
      </h3>

      <p class="p-location h-card">
        <span class="p-org">{{ entry.data.name }}</span>:
        <span class="p-adr">{{ entry.data.location }}</span>
      </p>

      <div class="[ p-summary ] [ stack ]">
        {{ entry.templateContent | safe }}
      </div>
    </div>
  {% endfor %}

  <h2>Education</h2>

  {% for degree in collections.education %}
    <div class="p-education h-event">
      <div class="stack">
        <h3>
          <span class="p-name">{{ degree.data.studyType }}</span>
          (<time class="dt-end">{{ degree.data.endDate | date({ year: 'numeric', month: 'long' }) }}</time>)
        </h3>

        <p class="p-location h-card">
          <span class="p-org">{{ degree.data.institution }}</span>:
          <span class="p-adr">{{ degree.data.location }}</span>
        </p>

        <ul class="p-summary">
          {% for highlight in degree.data.highlights %}
            <li>{{ highlight }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}

  <h2>Projects</h2>

  {% for project in collections.projects %}
    <h3>{{ project.data.name }} at {{ project.data.instutition }}</h3>
    <p>{{ project.data.location }} ({{ project.data.startDate | date({ year: 'numeric', month: 'long' }) }}&ndash;{{ project.data.endDate | date({ year: 'numeric', month: 'long' }) }})</p>
    <ul>
      {% for highlight in project.data.highlights %}
        <li>{{ highlight  }}</li>
      {% endfor %}
    </ul>
  {% endfor %}

  <h2>Professional activity</h2>

  <ul>
    <li>Attended DrupalCon Portland 2013, Seattle 2019, Pittsburgh 2023, &amp; Drupal GovCon 2016&ndash;2019</li>
    {% for publication in collections.publications %}
      <li><em>{{ publication.data.name }}</em>: {{ publication.data.publisher }}, {{ publication.data.releaseDate | date({ year: 'numeric', month: 'long', day: 'numeric' }) }}.</li>
    {% endfor %}
  </ul>
</div>
